/* ... (pozostała część kodu CSS z poprzedniego kroku) ... */

/* Sekcja Mapy */
#map-container {
    height: 0px; /* USTAWIONO NA 0, ABY NIE BLOKOWAŁ INTERFEJSU */
    width: 100%;
    border-bottom: 2px solid #ccc;
    position: relative; 
}
#map {
    width: 100%;
    height: 100%;
}
/* ... (reszta kodu CSS zostaje) ... */
